.force-select-all {
    -webkit-user-select: all;
    user-select: all;
}

::selection {
    background: none;
}

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width: 10px;
    height: 3%;
}

::-webkit-scrollbar-track {
    background-color: #fff9f2
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ee0667;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #cc0074;
}

::-webkit-resizer{
    width: 10px;
    height: 3%;
}

::-webkit-scrollbar{
    width: 10px;
    height: 3%;
}

div .purple {
    color: #cc0074;
}

.ui {
    flex: none;
    color: #000000;
    border: 1px solid #ee0667;
    box-shadow: 0 2px 3px #cc0074;
    background-color: #fff9f2;
    border-radius: 10px;
    outline: #cc0074 !important;
    cursor: pointer;
    font: bold 140% Impact;
    text-align: center;
    box-sizing: border-box;
}

.scroll {
    overflow: auto;
    margin: 10px !important;
}
